<link rel="stylesheet" href="css/style.css">

<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>INDEX</title>
    </head>
    <body>
        <nav class="navigate">

            <ul>
                <li><a href='{% url "top" %}'>HOME</a></li>
                <li><a href='{% url "rule" %}'>RULE</a></li>
                <li><a href='{% url "contact" %}'>CONTACT</a></li>
            </ul>
        
        </nav>
        <div class="index_outer">
            <div class="square_container">
                <div class="square_contents">
                    <p><a href="{% url 'root' %}g1hunter/questions">
                        国内G1を<br>3勝以上した<br>おうまさん</a></p>
                </div>
                <div class="square_contents">
                    <p><a href="{% url 'root' %}after2000/questions">
                        2000年以降に活躍した<br>おうまさん</a></p>
                </div>
                <div class="square_contents">
                    <p><a href="{% url 'root' %}before2000/questions">
                        2000年より前に活躍した<br>おうまさん</a></p>
                </div>
                <div class="square_contents">
                    <p><a href="{% url 'root' %}classic/questions">
                        クラシックで活躍した<br>おうまさん</a></p>
                </div>
                <div class="square_contents">
                    <p><a href="{% url 'root' %}grandprix/questions">
                        グランプリを獲得した<br>おうまさん</a></p>
                </div>
                <div class="square_contents">
                    <p><a href="{% url 'root' %}tennnosho/questions">
                        天皇賞を<br>獲得した<br>おうまさん</a></p>
                </div>
                <div class="square_contents">
                    <p><a href="{% url 'root' %}milersprinter/questions">
                        マイル短距離で活躍した<br>おうまさん</a></p>
                </div>
                <div class="square_contents">
                    <p><a href="{% url 'root' %}stayer/questions">
                        長距離で<br>活躍した<br>おうまさん</a></p>
                </div>
                <div class="square_contents">
                    <p><a href="{% url 'root' %}queen/questions">
                        牝馬限定G1で<br>活躍した<br>おうまさん</a></p>
                </div>
            </div>
        </div>

    </body>
</html>