<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>QUESTIONS</title>
        <link rel="stylesheet" href="css/style.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="js/questions.js"></script>
    </head>
    <script type="text/javascript">
        $(function(){
            get_question_data();
        });
    </script>

    <body>
        <nav class="navigate">
            <ul>
                <li>
                    <a href='index.html'>BACK</a>
                </li>
                <label class="open" for="pop-up">
                    ANSWER
                </label>
                <input type="checkbox" id="pop-up">
                    <div class="overlay">
                        <div class="caution_window">
                            <div class="answer_outer">
                                <div class="answer_inner">
                                    答えを表示して出題をリセットします。よろしいですか？
                                </div>
                                <form method="post" style="display: inline">
                                    <button type="submit" class="btn_small" name="button" value="reset_yes">YES</button>
                                </form>
                                <label for="pop-up">
                                    NO
                                </label>
                            </div>
                        </div>
                    </div>
                </input>            
            </ul>
        </nav>
        <div class="questions_outer">
            <div id="horsename"></div>
            <table>
                <tr>
                    <script>
                        for(var i=0; i<9; i++){
                            var id = 't' + String(i);
                            document.currentScript.insertAdjacentHTML('beforebegin', '<td id="' + id +'"></td>');
                        }
                    </script>
                    </tr>
                    <tr>
                        <script>
                            for(var i=9; i<18; i++){
                                var id = 't' + String(i);
                                document.currentScript.insertAdjacentHTML('beforebegin', '<td id="' + id +'"></td>');
                            }
                        </script>
                    </tr>
                    <tr>
                        <script>
                            for(var i=18; i<27; i++){
                                var id = 't' + String(i);
                                document.currentScript.insertAdjacentHTML('beforebegin', '<td id="' + id +'"></td>');
                            }
                        </script>
                    </tr>
                    <tr>
                        <script>
                            for(var i=27; i<36; i++){
                                var id = 't' + String(i);
                                document.currentScript.insertAdjacentHTML('beforebegin', '<td id="' + id +'"></td>');
                            }
                        </script>
                    </tr>
                    <tr>
                        <script>
                            for(var i=36; i<45; i++){
                                var id = 't' + String(i);
                                document.currentScript.insertAdjacentHTML('beforebegin', '<td id="' + id +'"></td>');
                            }
                        </script>
                    </tr>
                </table>

            <table>
                <tr>
                    <script>
                        for(var i=45; i<54; i++){
                            var id = 't' + String(i);
                            document.currentScript.insertAdjacentHTML('beforebegin', '<td id="' + id +'"></td>');
                        }
                    </script>
                </tr>
                <tr>
                    <script>
                        for(var i=54; i<63; i++){
                            var id = 't' + String(i);
                            document.currentScript.insertAdjacentHTML('beforebegin', '<td id="' + id +'"></td>');
                        }
                    </script>
                </tr>
                <tr>
                    <script>
                        for(var i=63; i<72; i++){
                            var id = 't' + String(i);
                            document.currentScript.insertAdjacentHTML('beforebegin', '<td id="' + id +'"></td>');
                        }
                    </script>
                </tr>
                <tr>
                    <script>
                        for(var i=72; i<81; i++){
                            var id = 't' + String(i);
                            document.currentScript.insertAdjacentHTML('beforebegin', '<td id="' + id +'"></td>');
                        }
                    </script>
                </tr>
                <tr>
                    <script>
                        for(var i=81; i<90; i++){
                            var id = 't' + String(i);
                            document.currentScript.insertAdjacentHTML('beforebegin', '<td id="' + id +'"></td>');
                        }
                    </script>
                </tr>
            </table>
        </div>
        <br>
        <div class="questions_outer">
            <div class="questions_inner">
                <script type="text/javascript">
                    for(var i=0; i<25; i++){
                        var id = 'm_id' + String(i);
                        var moji = ["ア", "イ", "ウ", "エ", "オ", "カ", "キ", "ク", "ケ", "コ", "サ", "シ", "ス", "セ", "ソ", "タ", "チ", "ツ", "テ", "ト", "ナ", "ニ", "ヌ", "ネ", "ノ"];
                        var btn_color = "btn_normal";
                        document.currentScript.insertAdjacentHTML('beforebegin', '<form method="post" style="display: inline">');
                        document.currentScript.insertAdjacentHTML('beforebegin', '<button type="button" id="' + id + '" value="' + moji[i] + '" class="' + btn_color + '">' + moji[i] + '</button>');
                        document.currentScript.insertAdjacentHTML('beforebegin', '</form>');
                    }
                </script>
                <script type="text/javascript">
                    $('#m_id0').click(function(){click_moji('m_id0'); });
                    $('#m_id1').click(function(){click_moji('m_id1'); });
                    $('#m_id2').click(function(){click_moji('m_id2'); });
                    $('#m_id3').click(function(){click_moji('m_id3'); });
                    $('#m_id4').click(function(){click_moji('m_id4'); });
                    $('#m_id5').click(function(){click_moji('m_id5'); });
                    $('#m_id6').click(function(){click_moji('m_id6'); });
                    $('#m_id7').click(function(){click_moji('m_id7'); });
                    $('#m_id8').click(function(){click_moji('m_id8'); });
                    $('#m_id9').click(function(){click_moji('m_id9'); });
                    $('#m_id10').click(function(){click_moji('m_id10'); });
                    $('#m_id11').click(function(){click_moji('m_id11'); });
                    $('#m_id12').click(function(){click_moji('m_id12'); });
                    $('#m_id13').click(function(){click_moji('m_id13'); });
                    $('#m_id14').click(function(){click_moji('m_id14'); });
                    $('#m_id15').click(function(){click_moji('m_id15'); });
                    $('#m_id16').click(function(){click_moji('m_id16'); });
                    $('#m_id17').click(function(){click_moji('m_id17'); });
                    $('#m_id18').click(function(){click_moji('m_id18'); });
                    $('#m_id19').click(function(){click_moji('m_id19'); });
                    $('#m_id20').click(function(){click_moji('m_id20'); });
                    $('#m_id21').click(function(){click_moji('m_id21'); });
                    $('#m_id22').click(function(){click_moji('m_id22'); });
                    $('#m_id23').click(function(){click_moji('m_id23'); });
                    $('#m_id24').click(function(){click_moji('m_id24'); });
                </script>
            </div>

            <div class="questions_inner">
                <script type="text/javascript">
                    for(var i=0; i<13; i++){
                        var id = 'm_id' + String(i+25);
                        var moji = ["ハ", "ヒ", "フ", "ヘ", "ホ", "マ", "ミ", "ム", "メ", "モ", "ヤ", "ユ", "ヨ"];
                        var btn_color = "btn_normal";
                        document.currentScript.insertAdjacentHTML('beforebegin', '<form method="post" style="display: inline">');
                        document.currentScript.insertAdjacentHTML('beforebegin', '<button type="button" id="' + id + '" value="' + moji[i] + '" class="' + btn_color + '">' + moji[i] + '</button>');
                        document.currentScript.insertAdjacentHTML('beforebegin', '</form>');
                    }
                </script>
                <script type="text/javascript">
                    $('#m_id25').click(function(){click_moji('m_id25'); });
                    $('#m_id26').click(function(){click_moji('m_id26'); });
                    $('#m_id27').click(function(){click_moji('m_id27'); });
                    $('#m_id28').click(function(){click_moji('m_id28'); });
                    $('#m_id29').click(function(){click_moji('m_id29'); });
                    $('#m_id30').click(function(){click_moji('m_id30'); });
                    $('#m_id31').click(function(){click_moji('m_id31'); });
                    $('#m_id32').click(function(){click_moji('m_id32'); });
                    $('#m_id33').click(function(){click_moji('m_id33'); });
                    $('#m_id34').click(function(){click_moji('m_id34'); });
                    $('#m_id35').click(function(){click_moji('m_id35'); });
                    $('#m_id36').click(function(){click_moji('m_id36'); });
                    $('#m_id37').click(function(){click_moji('m_id37'); });
                </script>
                <br>
                <script type="text/javascript">
                    for(var i=0; i<8; i++){
                        var id = 'm_id' + String(i+38);
                        var moji = ["ラ", "リ", "ル", "レ", "ロ", "ワ", "ヲ", "ン"];
                        var btn_color = "btn_normal";
                        document.currentScript.insertAdjacentHTML('beforebegin', '<form method="post" style="display: inline">');
                        document.currentScript.insertAdjacentHTML('beforebegin', '<button type="button" id="' + id + '" value="' + moji[i] + '" class="' + btn_color + '">' + moji[i] + '</button>');
                        document.currentScript.insertAdjacentHTML('beforebegin', '</form>');
                    }
                </script>
                <script type="text/javascript">
                    $('#m_id38').click(function(){click_moji('m_id38'); });
                    $('#m_id39').click(function(){click_moji('m_id39'); });
                    $('#m_id40').click(function(){click_moji('m_id40'); });
                    $('#m_id41').click(function(){click_moji('m_id41'); });
                    $('#m_id42').click(function(){click_moji('m_id42'); });
                    $('#m_id43').click(function(){click_moji('m_id43'); });
                    $('#m_id44').click(function(){click_moji('m_id44'); });
                    $('#m_id45').click(function(){click_moji('m_id45'); });
                </script>
                <br>
            </div>

            <div class="questions_inner">
                <script type="text/javascript">
                    for(var i=0; i<20; i++){
                        var id = 'm_id' + String(i+46);
                        var moji = ["ガ", "ギ", "グ", "ゲ", "ゴ", "ザ", "ジ", "ズ", "ゼ", "ゾ", "ダ", "ヂ", "ヅ", "デ", "ド", "バ", "ビ", "ブ", "ベ", "ボ"];
                        var btn_color = "btn_normal";
                        document.currentScript.insertAdjacentHTML('beforebegin', '<form method="post" style="display: inline">');
                        document.currentScript.insertAdjacentHTML('beforebegin', '<button type="button" id="' + id + '" value="' + moji[i] + '" class="' + btn_color + '">' + moji[i] + '</button>');
                        document.currentScript.insertAdjacentHTML('beforebegin', '</form>');
                    }
                </script>
                <script type="text/javascript">
                    $('#m_id46').click(function(){click_moji('m_id46'); });
                    $('#m_id47').click(function(){click_moji('m_id47'); });
                    $('#m_id48').click(function(){click_moji('m_id48'); });
                    $('#m_id49').click(function(){click_moji('m_id49'); });
                    $('#m_id50').click(function(){click_moji('m_id50'); });
                    $('#m_id51').click(function(){click_moji('m_id51'); });
                    $('#m_id52').click(function(){click_moji('m_id52'); });
                    $('#m_id53').click(function(){click_moji('m_id53'); });
                    $('#m_id54').click(function(){click_moji('m_id54'); });
                    $('#m_id55').click(function(){click_moji('m_id55'); });
                    $('#m_id56').click(function(){click_moji('m_id56'); });
                    $('#m_id57').click(function(){click_moji('m_id57'); });
                    $('#m_id58').click(function(){click_moji('m_id58'); });
                    $('#m_id59').click(function(){click_moji('m_id59'); });
                    $('#m_id60').click(function(){click_moji('m_id60'); });
                    $('#m_id61').click(function(){click_moji('m_id61'); });
                    $('#m_id62').click(function(){click_moji('m_id62'); });
                    $('#m_id63').click(function(){click_moji('m_id63'); });
                    $('#m_id64').click(function(){click_moji('m_id64'); });
                    $('#m_id65').click(function(){click_moji('m_id65'); });
                </script>
                <br>
                <form method="post" style="display: inline">
                    <button type="button" id="delete" value="delete" class="btn_normal">|←</button> 
                    <script type="text/javascript">$('#delete').click(function(){click_delete(); });</script>
                </form>
                <form method="post" style="display: inline">
                    <button type="button" id="l_delete" value="l_delete" class="btn_normal">|__←</button> 
                    <script type="text/javascript">$('#l_delete').click(function(){click_line_delete(); });</script>
                </form>

            </div>
            <div class="questions_inner">
                <script type="text/javascript">
                    for(var i=0; i<16; i++){
                        var id = 'm_id' + String(i+66);
                        var moji = ["パ", "ピ", "プ", "ペ", "ポ", "ァ", "ィ", "ゥ", "ェ", "ォ", "ャ", "ュ", "ョ", "ヴ", "ッ", "ー"];
                        var btn_color = "btn_normal";
                        document.currentScript.insertAdjacentHTML('beforebegin', '<form method="post" style="display: inline">');
                        document.currentScript.insertAdjacentHTML('beforebegin', '<button type="button" id="' + id + '" value="' + moji[i] + '" class="' + btn_color + '">' + moji[i] + '</button>');
                        document.currentScript.insertAdjacentHTML('beforebegin', '</form>');
                    }
                </script>
                <script type="text/javascript">
                    $('#m_id66').click(function(){click_moji('m_id66'); });
                    $('#m_id67').click(function(){click_moji('m_id67'); });
                    $('#m_id68').click(function(){click_moji('m_id68'); });
                    $('#m_id69').click(function(){click_moji('m_id69'); });
                    $('#m_id70').click(function(){click_moji('m_id70'); });
                    $('#m_id71').click(function(){click_moji('m_id71'); });
                    $('#m_id72').click(function(){click_moji('m_id72'); });
                    $('#m_id73').click(function(){click_moji('m_id73'); });
                    $('#m_id74').click(function(){click_moji('m_id74'); });
                    $('#m_id75').click(function(){click_moji('m_id75'); });
                    $('#m_id76').click(function(){click_moji('m_id76'); });
                    $('#m_id77').click(function(){click_moji('m_id77'); });
                    $('#m_id78').click(function(){click_moji('m_id78'); });
                    $('#m_id79').click(function(){click_moji('m_id79'); });
                    $('#m_id80').click(function(){click_moji('m_id80'); });
                    $('#m_id81').click(function(){click_moji('m_id81'); });
                </script>
                <br>
                <form method="post" style="display: inline">
                    <button type="button" id="enter" value="enter" class="btn_enter">Enter</button> 
                    <script type="text/javascript">$('#enter').click(function(){click_enter(); });</script>
                </form>

            </div>
        </div>
        <script type="text/javascript">
            //{% include 'message.html' %}
            //{% include 'giveup.html' %}
        </script>
    </body>
</html>