{% include 'base_head.html' %}

<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>RULE</title>
    </head>
    <body>

        <div class="rule_outer">
            <h2>RULE</h2>
            <h5>updated: 2022/04/23</h5>

            <table class="rule_table">
                <tr>
                    <td class="rule_title">基本的な遊び方</td>
                    <td class="rule_item">
                        ➀おうまさんの名前を入力して、「お題」を当てればクリアです。<br>
                        ②「お題」は、日本国内のG1レースを優勝したことのあるおうまさんの名前です。<br>
                        ③入力した文字のうち、「お題」と同じ文字はイエローに変わります。<br>
                        ④「お題」と同じ文字、かつ、位置も同じ文字については、グリーンに変わります。<br>
                        ⑤「お題」に含まれない文字はグレーに変わります。<br>
                        ⑥入力した文字の色をもとに、「お題」のおうまさんの名前が何か推測しましょう。<br>
                        ⑦チャレンジ回数は10回です。<br>
                    </td>
                </tr>
                <tr>
                    <td class="rule_title">操作方法について</td>
                    <td class="rule_item">
                        ➀カタカナキーボードから1字ずつ入力しましょう。<br>
                        ②「お題」と合っているかどうか確認するには、Enterボタンを押しましょう。<br>
                        ③ひと文字ずつ消したい場合は、|←（Delete）ボタンを押しましょう。<br>
                        ④１行分まとめて消したい場合は、___|←（LineDelete）ボタンを押してみましょう。<br>
                        ⑤どうしてもギブアップしたい場合、メニューバー右上のAnswerをクリックすると<br>
                        　正解の「お題」を表示させることができます。
                    </td>
                </tr>
                    <td class="rule_title">注意点</td>
                    <td class="rule_item">
                        ➀10文字以上の文字列を一度に入力することはできません。<br>
                        ②国内G1レースを優勝したことのないおうまさんの名前は、正誤判定することはできません。<br>
                        　必ずG1レースを優勝したことのあるおうまさんの名前を入力してください。<br>
                        ③同じく、馬名以外の文字列を入力しても正誤判定はできません。<br>
                        ④メニューバー右上のAnswerをクリックすると、出題がリセットされます。ご注意ください。<br>
                    </td>
                <tr>
                    <td class="rule_title">出題されるおうまさんについて</td>
                    <td class="rule_item">
                        ➀日本国内のG1レースを優勝したことのあるおうまさんが出題範囲となります。<br>
                        ②また、正誤判定のできる文字列も、日本国内のG1レースを優勝したおうまさんのみ対象です。<br>
                        　（ドバイや香港などの海外G1レースは現行対象外となります）<br>
                        ④外国からの招待馬等で、10文字以上の名前となるおうまさんは表示の都合上対象外となります。<br>
                        ⑤今年の分の優勝データは反映されないことがあります。ご容赦ください。<br>
                    </td>
                </tr>

            </table>

        <button class="btn_large" >
            <a href='{% url "index" %}'>HOME</a>
        </button>
        </div>

    </body>
</html>